/* fonts */
@font-face {
    font-family: 'EBCorp';
    src: url('fonts/EBCorp-Regular.eot');
    src: local('EBCorp-Regular'),
        url('fonts/EBCorp-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/EBCorp-Regular.woff2') format('woff2'),
        url('fonts/EBCorp-Regular.woff') format('woff'),
        url('fonts/EBCorp-Regular.ttf') format('truetype'),
        url('fonts/EBCorp-Regular.svg#EBCorp-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EBCorp';
    src: url('fonts/EBCorp-Bold.eot');
    src: local('EBCorp-Bold'),
        url('fonts/EBCorp-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/EBCorp-Bold.woff2') format('woff2'),
        url('fonts/EBCorp-Bold.woff') format('woff'),
        url('fonts/EBCorp-Bold.ttf') format('truetype'),
        url('fonts/EBCorp-Bold.svg#EBCorp-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* theme */
body {
    font-family: "EBCorp";
    margin: 0;
    font-size: 24px;
}

.nav-bar {
    background-color: white;
    box-shadow: 0 2px 8px #0000001a;
    padding: 2em;
}

#tools-text {
    margin-left: 10px;
}

.setup {
    margin-left: 10px;
}

.look {
    margin: 10px 0;
    padding: 8px;
    width: 15%;
    font-family: "EBCorp";
}

.size {
    margin: 10px 0;
    padding: 8px;
    width: 65px;
    font-family: "EBCorp";
}

.look, .size {
    border: 1px solid rgba(0,192,255,255);
    border-radius: 7px;
    transition: .2s;
    font-size: 18px;
}

.look:hover, .size:hover {
    border: 1px solid rgba(0,126,167,1);
    border-radius: 7px;
    cursor: pointer;
}

.look:active, .size:active {
    border: 1px solid rgba(0,126,167,1);
}

select::-webkit-scrollbar {
    background: transparent;
}

select::-webkit-scrollbar-thumb {
    background: rgba(0,192,255,255);
    border-radius: 10em;
    border: 3px solid white;
}

.upper {
    margin: 6px 0;
    padding: 8px;
    width: 10%;
    border: 1px solid rgba(0,192,255,255);
    border-radius: 7px;
    transition: .2s;
    font-size: 18px;
    background: white;
    font-family: "EBCorp";
}

.upper:hover {
    border: 1px solid rgba(0,126,167,1);
}

.upper:active {
    border: 1px solid rgba(0,126,167,1);
}

/* textarea */
textarea {
    width: 800px;
    height: 350px;
    font-family: "EBCorp";
    font-size: 24px;
    padding: 20px;
}
